
/**
 *
 */
*{
	margin:0;
	padding:0;
}





/**
 *
 */
#gmcounter-viewer{
	border:3px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width:500px;
	height:450px;
	
	margin:50px;
}
#gmcounter-viewer div{
	font-size:12px;
	break-word:break-all;
}
/**/
#gmcounter-viewer .title{
	font-weight:bold;
	font-size:16px;
}
#gmcounter-viewer .title span{
	font-weight:normal;
	font-size:10px;
}
/**/
#gmcounter-viewer .value{
	margin-bottom:7px;
	padding:0 5px;
	font-weight:bold;
	font-size:35px;
	border-bottom:2px solid #ccc;
}
/**/
#gmcounter-viewer .at{
	margin-top:5px;
	margin-bottom:7px;
	font-size:11px;
}
/**/
#gmcounter-viewer .description{
	padding:8px;
	font-size:10px;
	background:#feffef;
	border:1px solid #fbffca;
}
#gmcounter-viewer .value .max{
	font-weight:normal;
	font-size:10px;
}